@import "./styles.css";

/* Introduction context */
p.intro {
    font-weight: bold;
    } p.text_infos {
    text-align: justify;
    padding-left: 2rem;
    border-left: solid blue;
}

/* ALERTE INFO in red and centered  */
.urgent {
    background-color: red;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

/* Editor name underlined */
.editor {
    color: blue;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

/* Page divider (intensity of 91 like L'une 91 pseudo) */
.divider {
    border-top: solid rgba(0, 0, 0, .91);
}